.card-item {
    flex: 5;
}

.card-item2 {
    flex: 5;
}
.MuiCardContent-root {
    background-color: #c293439e;
}

.background {
    background-color: #5d5858;
}
.empty-space2 {
    height: 80px;
    background-color: #5d5858;
}
.empty-space3 {
    flex: 2;
}
.empty-space4 {
    flex: 2;
}
.empty-space5 {
    flex: 2;
}

.spanning-cards {
    display: flex;
    align-items: center;
}
