.body-video {
    width: 100%;
    height: 700px;
    padding-top: 50px;
}
.empty-space1 {
    height: 80px;
    background-color: #5d5858;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    justify-content: "center";
    align-items: "center";
    flex: 1;
    flex-direction: "column";
}