.field1{
    display: flex;
    padding-top: 100px;
}

.field2{
    display: flex;
    padding-top: 50px;
}
.submit-type{
    display: flex;
    margin-left: 45%;
    margin-right: 55%;
    margin-top: 50px;
}

.empty-space{
    padding-top: 100px;
}

.name-label{
    flex: 1;
    margin-left: 35%;
}

.input-label{
    flex: 1;
    margin-right: 40%;
}

.country-label{
    flex: 1;
    margin-left: 35%;
}

.select-label{
    flex: 1;
    margin-right:43%;
}

.field-nitrogen{
    display: flex;
    padding-top: 50px;
}

.nitrogen-label{
    flex: 1;
    margin-left: 35%;
}

.N-label{
    flex: 1;
    margin-right: 40%;
}

.field-phosphorus{
    display: flex;
    padding-top: 50px;
}

.phosphorus-label{
    flex: 1;
    margin-left: 35%;
}

.P-label{
    flex: 1;
    margin-right: 40%;
}

.field-potassium{
    display: flex;
    padding-top: 50px;
}

.potassium-label{
    flex: 1;
    margin-left: 35%;
}

.K-label{
    flex: 1;
    margin-right: 40%;
}

.field-temperature{
    display: flex;
    padding-top: 50px;
}

.temperature-label{
    flex: 1;
    margin-left: 35%;
}

.temp-label{
    flex: 1;
    margin-right: 40%;
}

.field-humidity{
    display: flex;
    padding-top: 50px;
}

.humidity-label{
    flex: 1;
    margin-left: 35%;
}

.humid-label{
    flex: 1;
    margin-right: 40%;
}

.field-ph{
    display: flex;
    padding-top: 50px;
}

.ph-label{
    flex: 1;
    margin-left: 35%;
}

.PH-label{
    flex: 1;
    margin-right: 40%;
}

.field-rainfall{
    display: flex;
    padding-top: 50px;
}

.rainfall-label{
    flex: 1;
    margin-left: 35%;
}

.rain-label{
    flex: 1;
    margin-right: 40%;
}

.form-group{
    margin-left: 30%;
    margin-right: 30%;
    margin-inside: 20;
}
