.navbar {
    height: 50px;
    width: 100%;
    background-color: #a5c298cc;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
}

.navbar-container {
    flex: 5;
    padding: 0px 30px;
    padding-top: 0px;
}

.formula {
    flex: 8;
    padding: 20px 0px;
    color: black;
    display: flex;
    align-items: center;
}

.home-page-list {
    flex: 2;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 50px 0px;
}
